<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        
    {% endblock title %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">  
    
    <style>
        body {
            background-image: url('{% static "images/emp1.jpg" %}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">WorkForce Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active text-light" href="{% url 'home' %}">Accueil
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'list_emp' %}">Employee</a>
          </li>
          <li class="nav-item">
            <a  style="color: rgb(255, 255, 255);"class="nav-link" href="{% url 'emp_feedback' %}">Feedback</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-text-white" style="color: rgb(255, 255, 255);" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'list_emp' %}">les employés</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>

        <form class="d-flex" method="post" action="{% url 'emp_search' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="idEMP">
          <button class="btn btn-outline-light" type="submit">Chercher</button>
        </form>
      </div>
    </div>
</nav>

      
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>
