{% extends "base.html" %}
{% block title %}
Feedback des Employés
{% endblock title %}

{% block content %}
<h1 class="text-center my-3" style="color: aliceblue; background-color: black;">Feedback</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-body">

                        <form action="{% url 'emp_feedback' %}" method="POST">

                            {% csrf_token %}
                            {{form.as_p}}


                            <div class="container text-center">
                                <button type="submit" class="btn btn-primary">
                                    submit
                                </button>
                            </div>

                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
